{% extends 'accueil/accueil.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Créer un compte</h1>

<form method="post">
    <label for="email">Email :</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>

<a href="{{ path('app_login') }}">Déjà un compte ? Connectez-vous ici.</a>
{% endblock %}
