{% block title %}Accueil{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h2>Bienvenue sur la page d'accueil</h2>
    
    <div>
        <a href="#" class="btn">Liste des paiements</a>
        <a href="#" class="btn">Parc instruments</a>
    </div>

{% endblock %}
